.c-title {
    font-size: 3.4rem;
    color: #0080cc;
    font-weight: 500;
    letter-spacing: 2.52px;

    &.c-title--smaller {
        color: #ff5800;
        font-size: 2.8rem;
        letter-spacing: 0.67px;
    }

    &.c-title--bigger {
        font-size: 4.4rem;
        letter-spacing: 3.26px;
    }
}
