.c-card {
    display: flex;
    
    .c-card__item {
        flex-basis: auto;
        max-width: 314px;
        border: 4px solid #0080cc;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:not(:last-child) {
            margin-right: 9px;
        }
    }

    .c-card__item:hover {
        cursor: pointer;
        border-color: #005384;

        .c-card__info {
            background: #005384;
        }
    }

    .c-card__avatar {
        max-height: 387px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
            &::before {
                opacity: 1;
            }

            .c-card__layer {
                top: 50%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #fff, $alpha: 0.74);
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .c-card__layer {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -12%);
            text-align: center;
            transition: all 0.3s ease-in-out;
        }

        .c-card__layertitle {
            font-size: 2.4rem;
            color: #005384;
            letter-spacing: 0.58px;
            font-weight: 600;
            line-height: 1.3;
        }
    }

    .c-card__intro {
        padding: 20px 26px 53px 22px;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.43px;
        color: #0080cc;
        line-height: 1.4;
    }

    .c-card__info {
        position: absolute;
        background: #0080cc;
        left: 6px;
        right: 6px;
        bottom: -45px;
        padding-top: 17px;
        padding-bottom: 18px;
        padding-left: 6.4%;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .c-card__name {
        font-size: 2rem;
        color: #fff;
        letter-spacing: 0.48px;
        font-weight: 400;
        line-height: 1.3;

        &.c-card__name--fixpp {
            margin-left: 4px;
        }
    }

    .c-card__exp {
        font-size: 1.4rem;
        color: #fff;
        font-weight: 400;
        letter-spacing: 0.34px;
        transform: translateY(3px);

        &.c-card__exp--fixpp {
            transform: translate(6px, 3px);
        }

        &.c-card__exp--fixspacing {
            letter-spacing: 2px;
        }
    }

    .c-card__infotext {
        margin-left: 6%;
    }

}
