//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}

//============================================
// animation
//============================================

@mixin scaleCenter {
    @keyframes scale-in-center {
        0% {
            transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
}
