.u-fixspacing {
    font-feature-settings: "palt";
}

.u-mb6px {
    margin-bottom: 6px;
}

.u-mt5px {
    margin-top: 5px !important;
}

.u-mt8px {
    margin-top: 8px !important;
}

.u-fs16px {
    font-size: 16px;
    letter-spacing: 0.48px;
}

.u-colorwhite {
    color: #fff;
}

.u-flex {
    display: flex;
}

.u-disablescroll {
    overflow: hidden;
}
