/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    color: #0080cc;
    margin-top: 3.8%;

    .c-footer__container {
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #0080cc;
    }

    .c-footer__body,
    .c-footer__head {
        max-width: $base-width;
        width: 100%;
        margin: 0 auto;
    }

    .c-footer__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 22px;
    }

    .c-footer__logo {
        padding-top: 14px;
    }

    .c-footer__nav {
        display: flex;
        align-items: center;
        flex-basis: auto;
        max-width: 863px;
        width: 80%;
        justify-content: space-between;
    }

    .c-gnav {
        padding-top: 13px;
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        max-width: 673px;
        width: 74%;
    }

    .c-footer__menuicon {
        display: none;
    }

    .c-footer__menuitem {
        display: inline-block;
        font-size: 1.6rem;
        color: #0080cc;
        letter-spacing: 0.32px;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-bottom: 1px solid #0080cc;
        }
    }

    .c-footer__recruitbtn {
        background: #0080cc;
        padding: 11px 39px 11px 35px;
        border-radius: 9px;
        display: flex;
        align-items: center;
        color: #fff;
        margin-top: 11px;
        max-width: 185px;
        flex-basis: auto;
    }

    .c-footer__recruiticon {
        width: 20px;
        height: 19px;
    }

    .c-footer__recruittxt {
        font-size: 1.8rem;
        display: inline-block;
        max-width: 97px;
        letter-spacing: 2.23px;
        margin-left: 10px;
    }

    .c-footer__body {
        text-align: right;
        padding: 10px 62px 14px;
        font-size: 1.4rem;
        color: #a0a0a0;
        text-decoration: underline;
    }

    .c-footer__copyright {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.34px;
        font-weight: 400;
        color: #fff;
        background: #0080cc;
        padding: 13px 0;
    }
}
