
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 13px;
    position: relative;
    background: rgba(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    max-width: $base-width;
    width: 100%;
    margin: 0 auto;

    .c-header__logo {
        position: relative;

        &::before {
            content: "Recruitment 2020";
            position: absolute;
            bottom: -6px;
            right: 14px;
            font-size: 1.2rem;
            letter-spacing: 0.2px;
            font-weight: 400;
        }
    }

    .c-header__nav {
        display: flex;
        align-items: center;
    }

    .c-gnav {
        padding-top: 13px;
    }

    .c-header__menuicon {
        display: none;
    }

    .c-header__menuitem {
        display: inline-block;
        font-size: 1.6rem;
        color: #0080cc;
        margin-left: 33px;
        letter-spacing: 0.32px;
        padding-bottom: 7px;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-bottom: 1px solid #0080cc;
        }
    }

    .c-header__recruitbtn {
        background: #0080cc;
        padding: 11px 39px 11px 35px;
        border-radius: 9px;
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 44px;
        margin-top: 8px;
    }

    .c-header__recruiticon {
        width: 20px;
        height: 19px;
    }

    .c-header__recruittxt {
        font-size: 1.8rem;
        display: inline-block;
        max-width: 97px;
        letter-spacing: 2.23px;
        margin-left: 10px;
    }
}


