/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-weight: 500;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
    position: relative;
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}

.l-container--960px {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
