<section class="c-career">
    <div class="c-career__head">
        <h2 class="c-title c-career__title">もうすぐ創業50年、<br> あなたのキャリアプランもしっかり考えています。</h2>
        <div class="c-desc c-career__desc">
            <p>世間では、終身雇用が保証されにくい世の中になってきました。 </p>
            <p>その中で、「長く勤めることができる会社」「手に職をつけられる業種」は、キャリア形成にも影響します。 </p>
            <p>人が生きている以上、家や建物を建てることは無くなりません。 </p>
            <p>また、古くなった建物を部分的に改修することは増えていきます。 </p>
            <p>その時にあなたがエクステリア業界のプロになっていれば、たくさんの生きる道を作ることができます。</p>
            <p>株式会社ENTEXでは、会社の成長だけでなく、あなたの成長も応援します。</p>
        </div>
    </div>

    <div class="c-career__mission">
        <div class="c-career__inner">
            <div class="c-career__innercontent">
                <h2 class="c-title c-career__innertitle">人材育成に最大限の力を 注ぎます！</h2>
                <div class="c-career__innerdesc">
                    <p class="c-desc c-desc--darker">【入社後の研修制度について】</p>
                    <p class="c-desc c-desc--darker">入社後は、専属の先輩社員と共に現場で簡易な作業から仕事を開始してもらいます。</p>
                    <p class="c-desc c-desc--darker c-career__innerdesc--fixpp">
                        職長と呼ばれる、現場を管理する人に付いて道具、材料の名前や作業内容を把握しながら、勉強してもらいます。最初は一人の職長と同じ現場で作業を行ないますが、慣れてきたら、色々な現場で沢山の職長と触れ合いながら学ぶ事が出来ます。
                    </p>
                    <p class="c-desc c-desc--darker">雨天の日は、屋内で金物や、ブロックの施工練習、図面の勉強も実施します。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="c-career__plan">
        <div class="c-career__plancontainer">
            <div class="c-career__plancontent">
                <h2 class="c-title c-career__plantitle">入社後のキャリアプラン</h2>
                <div class="c-career__planlist">
                    <div class="c-career__planitem">
                        <h3 class="c-career__itemtitle">
                            入社1年目
                        </h3>
                        <div class="c-career__itemcontent">
                            <p class="c-career__itemtext">たくさんの現場を経験し、いろんな先輩社員と接することで、まずは一通りの作業内容と現場作業の流れを把握します。</p>
                        </div>
                    </div>
                    <div class="c-career__planitem">
                        <h3 class="c-career__itemtitle">
                            入社3年目
                        </h3>
                        <div class="c-career__itemcontent c-career__itemcontent--spacing">
                            <p class="c-career__itemtext">1人で現場での作業を徐々に行います。</p>
                        </div>
                    </div>
                    <div class="c-career__planitem">
                        <h3 class="c-career__itemtitle">
                            入社5年目
                        </h3>
                        <div class="c-career__itemcontent">
                            <p class="c-career__itemtext">
                                職長（現場での管理が出来る人）昇格に向けて必要な研修や資格を取得してもらいます。職長になると、現場でお客様との打合せや材料の注文、品質管理、工事写真管理、原価管理といった管理業務も担います。
                            </p>
                        </div>
                    </div>
                    <div class="c-career__planitem c-career__planitem--spacing">
                        <h3 class="c-career__itemtitle">
                            入社10年目〜 独立か、管理職か。
                        </h3>
                        <div class="c-career__itemcontent">
                            <p class="c-career__itemtext">独立を希望する人は、<br>
                                建築士や施工管理技術者への資格の取得、独立に向けての勉強までサポートします。独立後はENTEXから仕事を受注することも可能です。仕入先の紹介なども行ないますので、安心して独立できます。
                            </p>
                            <p class="c-career__itemtext c-career__itemtext--spacing">
                                独立を望まない人は、<br> 管理職となり職人の管理や他社が開催する会議へ参加したり、お客様との工事打合せの作業内容確認を行います。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-plan__footer">
                <div class="c-plan__leftborder">
                    <img src="./assets/img/timeline-1.png" alt="あなたは、どんな未来に向けて どんなキャリアで仕事をしたいですか？">
                </div>
                <h4 class="c-plan__footertitle">あなたは、どんな未来に向けて <br> どんなキャリアで仕事をしたいですか？</h4>
                <div class="c-plan__rightborder"><img src="./assets/img/timeline-2.png"
                        alt="あなたは、どんな未来に向けて どんなキャリアで仕事をしたいですか？"></div>
            </div>
        </div>

    </div>

    <div class="c-career__benefit">
        <div class="c-career__benefitcontainer">
            <div class="c-career__benefitcontent">
                <div class="c-benefit__imglist">
                    <div class="c-benefit__imgitem">
                        <img src="./assets/img/works/benefit1.jpg" alt="充実した福利厚生サービス">
                    </div>
                    <div class="c-benefit__imgitem">
                        <img src="./assets/img/works/benefit2.jpg" alt="充実した福利厚生サービス">
                    </div>
                    <div class="c-benefit__imgitem">
                        <img src="./assets/img/works/benefit3.jpg" alt="充実した福利厚生サービス">
                    </div>
                    <div class="c-benefit__imgitem">
                        <img src="./assets/img/works/benefit4.jpg" alt="充実した福利厚生サービス">
                    </div>
                </div>

                <div class="c-career__benefitmain">
                    <div class="c-career__benefitdetail">
                        <h3 class="c-title c-title--smaller">充実した福利厚生サービス</h3>
                        <ul>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent"><span class="c-benefit__itemdot">●</span>
                                    遠方から弊社に入社される人は、ENTEX本社の上に社宅(社員 　 寮)があります。
                                </p>
                                <p class="c-benefit__itemnote">
                                    ※現在は満室のため、近くのワンルームから（自転車通勤圏内）通勤していただきます。
                                </p>
                            </li>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent"><span class="c-benefit__itemdot">●</span>
                                    年1回社員旅行を開催<span class="u-fs16px">(参加希望者のみ)</span></p>
                                <p class="c-benefit__itemnote u-mt5px">
                                    ※社員旅行積立金3,000円（会社が旅費の半分以上を負担）
                                </p>
                            </li>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent u-mb12px"><span class="c-benefit__itemdot">●</span>
                                    社会保険完備<span class="u-fs16px">(雇用保険、労災保険、健康保険、厚生年金）</span></p>
                            </li>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent u-mb12px"><span class="c-benefit__itemdot">●</span>
                                    希望者参加型の食事会<span class="u-fs16px">(費用は会社負担)</span></p>
                            </li>
                            <li class="c-benefit__item u-mb12px">
                                <p class="c-benefit__itemcontent"><span class="c-benefit__itemdot">●</span> 各種手当も充実</p>
                                <p class="c-benefit__itemnote c-benefit__itemnote--lineheight">
                                    ・皆勤手当：5,000円 <br>
                                    ・雨天手当：1,000円 <br>
                                    ・固定休日手当：5日分（賃金単価による） <br>
                                    ・資格手当 <br>
                                    ・残業、休日手当 <br>
                                    ・技能手当 <br>
                                    ・通勤手当：月3万円まで
                                </p>
                            </li>
                            <li class="c-benefit__item u-mb12px">
                                <p class="c-benefit__itemcontent"><span class="c-benefit__itemdot">●</span> 昇給あり</p>
                            </li>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent"><span class="c-benefit__itemdot">●</span> 賞与あり（夏・冬
                                    年2回）</p>
                            </li>
                        </ul>
                    </div>
                    <div class="c-career__benefitage">
                        <h3 class="c-title c-title--smaller">独立支援制度も充実!20代でも独立可能</h3>
                        <ul>
                            <li class="c-benefit__item">
                                <p class="c-benefit__itemcontent u-mt8px"><span class="c-benefit__itemdot">●</span> 独立支援制度</p>

                                <p class="c-benefit__itemnote c-benefit__itemnote--lineheight u-mt8px">
                                    資格取得費用の援助 <br>
                                    ・座学（法律、行政への対応）の勉強支援 <br>
                                    ・仕入先の紹介 <br>
                                    ・顧問税理士、行政書士、弁護士の紹介
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>