<section class="c-company" id="company">
	<div class="l-container--960px">
		<div class="c-title__container">
			<h2 class="c-title c-title--bigger">会社情報</h2>
		</div>

		<div class="c-company__wrapper">
			<table class="c-company__table">
				<tbody>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">商号</th>
						<td class="c-company__tabletext">株式会社　ENTEX（エンテックス）</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">代表取締役社長</th>
						<td class="c-company__tabletext">遠藤 剛</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">所在地</th>
						<td class="c-company__tabletext">〒662-0928　兵庫県西宮市石在町17-41</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">電話番号</th>
						<td class="c-company__tabletext">0798-23-6600</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">FAX</th>
						<td class="c-company__tabletext">0798-23-6611</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">E-mail</th>
						<td class="c-company__tabletext">office@entex.co.jp</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">資本金</th>
						<td class="c-company__tabletext">1000万円</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">営業種目</th>
						<td class="c-company__tabletext c-company__tabletextbusiness">
							１．エクステリアの設計・施工・販売 <br />
							２．造成土木の施工 <br />
							３．各種解体工事 <br />
							４．戸建新築住宅の設計・施工・販売 <br />
							５．リフォーム工事の設計・施工 <br />
							６．不動産の仲介・売買
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">取引先銀行</th>
						<td class="c-company__tabletext c-company__tabletextbank">
							三井住友銀行　西宮北口支店／みなと銀行　西宮支店 <br>
              尼崎信用金庫　阪神西宮支店／日新信用金庫　西宮今津支店
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">職員</th>
						<td class="c-company__tabletext">
							7名（社長、営業本部長、営業2名、インテリアコーディネーター、事務員、経理）
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">施工管理者</th>
						<td class="c-company__tabletext">
							20名
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">所在地</th>
						<td class="c-company__tabletext">
							建設業許可　兵庫県知事（般-24）第212783号
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">産業廃棄物収集運搬</th>
						<td class="c-company__tabletext">
							第02700132723号、第02803132723号
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">宅地建物取引業</th>
						<td class="c-company__tabletext">
							兵庫県知事（1）第204254号
						</td>
					</tr>
					<tr class="c-company__tablerow c-company__tablerowarchitect">
						<th class="c-company__tablehead">2級建築士事務所</th>
						<td class="c-company__tabletext">
							兵庫県知事登録第02 04382号
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">有資格者</th>
						<td class="c-company__tabletext c-company__tabletextqualified">
							1級施工管理技士（1名）／　ブロック建築1級（2名）／　2級建築士（2名）／　2級土木施工管理技士（2名）／　2級管工事施工管理技士（1名）／　宅地建物取引士（2名）／　下水道排水設備工事責任技術者（1名）
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">車両</th>
						<td class="c-company__tabletext">
							トラック7台／軽乗用車3台／乗用車5台／ハイエース1台
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">厚生施設</th>
						<td class="c-company__tabletext">
							社員寮あり
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">産業廃棄物収集運搬</th>
						<td class="c-company__tabletext">
							第02700132723号、第02803132723号
						</td>
					</tr>
					<tr class="c-company__tablerow">
						<th class="c-company__tablehead">アクセス</th>
						<td class="c-company__tabletext">
							西宮市役所から南へ徒歩10分
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
