<div class="c-imgmodal">
  <div class="c-imgmodal__container">
    <div class="c-imgmodal__image">
      <img src="./assets/img/modal-1.jpg" alt="modal 1" >
    </div>
    <div class="c-modalbtn">
      <img src="./assets/img/close-modal.svg" alt="close">
      <span>閉じる</span>
    </div>
  </div>
</div>