<section class="c-interview">
    <div class="l-interview">
        <div class="c-interview__head">
            <h2 class="c-title c-title--bigger">先輩社員からのメッセージ</h2>
            <p class="c-desc">未経験で入社した多くのメンバーが活躍しています。</p>
            <p class="c-desc"> 各部門で活躍する現役メンバーたちの「リアルな声」をお届けします。</p>
        </div>

        <div class="c-card">
            <div class="c-card__item">
                <div class="c-card__avatar">
                    <img src="./assets/img/staff1.jpg" alt="いつも明るく元気に作業。朝も一番に出勤してます！">
                </div>
                <div class="c-card__intro">
                    <p>いつも明るく元気に作業。朝も一番に出勤してます！</p>
                </div>
                <div class="c-card__info">
                    <div class="c-card__playicon">
                        <img src="./assets/img/icon-play.png" alt="play icon">
                    </div>

                    <div class="c-card__infotext">
                        <h3 class="c-card__name">安川　聖 (30)</h3>
                        <p class="c-card__exp">入社2年目・外構担当職人　</p>
                    </div>
                </div>
            </div>
            <div class="c-card__item">
                <div class="c-card__avatar">
                    <img src="./assets/img/staff2.jpg" alt="いつも明るく元気に作業。朝も一番に出勤してます！">
                </div>
                <div class="c-card__intro">
                    <p>職長として土木・外構工事の現場管理をしながら作業指示</p>
                </div>
                <div class="c-card__info">
                    <div class="c-card__playicon">
                        <img src="./assets/img/icon-play.png" alt="play icon">
                    </div>

                    <div class="c-card__infotext">
                        <h3 class="c-card__name">福元　和稔 (45)</h3>
                        <p class="c-card__exp">入社3年目・土木、外構担当職長</p>
                    </div>
                </div>
            </div>
            <div class="c-card__item">
                <div class="c-card__avatar">
                    <img src="./assets/img/staff3.jpg" alt="いつも明るく元気に作業。朝も一番に出勤してます！">
                </div>
                <div class="c-card__intro">
                    <p>高校卒業後に入社し、関西で妻と出会い結婚。外構部長へ</p>
                </div>
                <div class="c-card__info">
                    <div class="c-card__playicon">
                        <img src="./assets/img/icon-play.png" alt="play icon">
                    </div>

                    <div class="c-card__infotext">
                        <h3 class="c-card__name">工藤　智成(41)</h3>
                        <p class="c-card__exp">入社23年目・外構部長</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-interview__manager">
        <div class="l-interview">
            <div class="c-interview__managercontent">
                <h2 class="c-title u-colorwhite">代表メッセージ</h2>
                <div class="c-interview__bodytop">
                    <div class="c-interview__bodytext">
                        <h3 class="c-interview__managerstated">「学歴・経験不問。ポテンシャル重視で採用」</h3>
                        <p>弊社は、｢お客様に喜ばれる仕事をしよう｣という会社理念を掲げて社会貢献事業を行なっています。何か仕事で困った事があってもお客様の立場や、気持ちを考えれば社員一同、同じ方向を向いて仕事が出来ます。
                            <br> 
                            また、個人の目標も大切にしており弊社の全てのメンバーが夢、希望をもって仕事に取り組み楽しい職場作りを目指しております。 <br>
                            メンバー同士、助け合いの精神をもって規律正しく和気あいあいと作業を行なっています。<br>
                            昔のように職人は誰でもなれる職業ではありません。身体も頭脳も健全でなければ一流の職人にはなれませんが、ENTEXでは多くのまだ若いプロの職人が親切、丁寧に教育しますので安心です。
                        </p>
                    </div>
                    <div class="c-manager__bodyimg">
                        <img src="./assets/img/manager.jpg" alt="代表メッセージ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>