<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <div class="c-mainvisual__item">
            <div class="c-mainvisual__itemimg c-mainvisual__item1"></div>
            <!-- <img class="c-mainvisual__itemimg c-mainvisual__item1" src="./assets/img/mainvisual1.jpg" alt=""> -->
        </div>
        <div class="c-mainvisual__item">
            <div class="c-mainvisual__itemimg c-mainvisual__item2"></div>
            
            <!-- <img class="c-mainvisual__itemimg c-mainvisual__item2" src="./assets/img/mainvisual2.jpg" alt=""> -->
        </div>
        <div class="c-mainvisual__item">
            <div class="c-mainvisual__itemimg c-mainvisual__item3"></div>

            <!-- <img class="c-mainvisual__itemimg c-mainvisual__item3" src="./assets/img/mainvisual3.jpg" alt=""> -->
        </div>
    </div>
    <div class="c-mainvisual__inner">
        <div class="c-mainvisual__box">
            <h1 class="c-mainvisual__title">
                <span class="c-title__item">若い力を</span>
                <span class="c-title__item">発揮できる環境が</span>
                <span class="c-title__item c-title__item--fixspacing">ココにはある。</span>
            </h1>
            <a href="#about" class="c-mainvisual__scrollbtn">
                SCROLL
            </a>
            <p class="c-mainvisual__caption"><span class="c-mainvisual__caption--strong">暮らしの未来</span>を一緒に作る仲間を募集しています。</p>
        </div>
    </div>
</section>