<div class="c-messagemodal">
  <div class="c-message__inner">
    <!-- Content body 1 -->
    <div class="c-message__content"  id="message-2">
      <h2 class="c-message__title">
        職長として土木・外構工事の現場管理をしながら作業指示
      </h2>
      <div class="c-message__body">
        <div class="c-message__card">
          <div class="c-card__image">
            <img src="./assets/img/message1.jpg" alt="職長として土木・外構工事の現場管理をしながら作業指示">
          </div>
          <div class="c-card__footer">
            <h3 class="c-card__name">福元　和稔 (45)</h3>
            <p class="c-card__desc">入社3年目・土木、外構担当職長</p>
          </div>
        </div>
        <div class="c-massage__qna">
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 仕事内容について教えてください</dt>
            <dd class="c-message__answer">外構工事を担当しています。建物を新しく建てる際やお庭のリフォームを検討されてる方をはじめ、カーポート、ウッドデッキ、ブロック塀、門扉、アプローチ　シャッター、フェンス、テラスなど、大小様々な工事を行っています。</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 入社の決め手について教えてください</dt>
            <dd class="c-message__answer">ENTEXなら、自分の技術を発揮できると思ったからです</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 仕事でやりがいを感じるときはどんな時ですか？</dt>
            <dd class="c-message__answer">ENTEXなら、自分の技術を発揮できると思ったからです</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 入社を希望される方に向けてメッセージをお願いします</dt>
            <dd class="c-message__answer">たくさんの仲間と協力し合い、完成させていく楽しい職場だと思います。</dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- Content body 2 -->
    <div class="c-message__content"  id="message-1">
      <h2 class="c-message__title">
        いつも明るく元気に作業。朝も一番に出勤してます！
      </h2>
      <div class="c-message__body">
        <div class="c-message__card">
          <div class="c-card__image">
            <img src="./assets/img/message2.jpg" alt="いつも明るく元気に作業。朝も一番に出勤してます！">
          </div>
          <div class="c-card__footer">
            <h3 class="c-card__name">安川　聖 (30)</h3>
            <p class="c-card__desc">入社2年目・外構担当職人</p>
          </div>
        </div>
        <div class="c-massage__qna">
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 仕事内容について教えてください</dt>
            <dd class="c-message__answer">外構工事を担当しています。建物を新しく建てる際やお庭のリフォームを検討されてる方をはじめ、カーポート、ウッドデッキ、ブロック塀、門扉、アプローチ　シャッター、フェンス、テラスなど、大小様々な工事を行っています。</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 入社の決め手について教えてください</dt>
            <dd class="c-message__answer">もともとは営業や飲食業、アパレル関係の仕事をしていましたが、何か手に職をつけたいと思い、ENTEXに応募しました。</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 仕事でやりがいを感じるときはどんな時ですか？</dt>
            <dd class="c-message__answer">入社2年目ということもあり、作業中などはあまり余裕を感じることはありませんが、現場の着工前と完成後を見るとやりがいを感じます。<br> また、完成後に自分が携わった現場を通りかかり、そこに住むひとたちが何気ない生活を送っている姿を見るのもやりがいを感じます。私たちの仕事は、世の中に残っていく仕事です。</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 入社を希望される方に向けてメッセージをお願いします</dt>
            <dd class="c-message__answer">はっきり言って肉体労働では重いものを運びますし、夏は暑く、冬は寒いです。仕事自体は難しいですが、体力が無くても、不器用でも、信念をもって取り組めばこの仕事は務まると思います。そんな信念のあるひとを私たちはお待ちしています。</dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- Content body 3 -->
    <div class="c-message__content"  id="message-3">
      <h2 class="c-message__title">
        高校卒業後に入社し、関西で妻と出会い結婚。外構部長へ
      </h2>
      <div class="c-message__body">
        <div class="c-message__card">
          <div class="c-card__image">
            <img src="./assets/img/message3.jpg" alt=" 高校卒業後に入社し、関西で妻と出会い結婚。外構部長へ">
          </div>
          <div class="c-card__footer">
            <h3 class="c-card__name">工藤 智成 (41)</h3>
            <p class="c-card__desc">入社2年目・外構担当職人</p>
          </div>
        </div>
        <div class="c-massage__qna">
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 仕事内容について教えてください</dt>
            <dd class="c-message__answer">外構工事と造園を担当しています。家の外周り、ブロック工事、フェンス工事、カーポート、ゲート取付工事、門柱、タイル工事、電気取付工事、ガレージコンクリート仕上げ、石張り工事、インターロッキング工事など様々な案件を手掛けています。</dd>
          </dl>
          <dl class="c-message__qnaitem c-message__qnaitem--fixpp">
            <dt class="c-message__question">Q. 入社の決め手について教えてください</dt>
            <dd class="c-message__answer">自分は大分県の田舎で育ったため、地元以外のところで就職したくて求人情報を見ていたら、EXTEX（旧：遠藤ブロック）社の求人票が目に留まりました。 <br> 他社と比べて給与等も好待遇だったため、入社を決めました。<br> 入社した以上は一生懸命に仕事を覚えていこうと思いながら仕事をしていたら、あっという間に21年が経っていました。</dd>
          </dl>
          <dl class="c-message__qnaitem c-message__qnaitem--fixmargin">
            <dt class="c-message__question">Q. 仕事でやりがいを感じるときはどんな時ですか？</dt>
            <dd class="c-message__answer">「想像していた以上に綺麗に仕上がっています」などお客様から直接お礼を言われた時や、自分の手掛けた物件が、カタログや各メーカーのサイトなどに掲載された時にやりがいを感じます。</dd>
          </dl>
          <dl class="c-message__qnaitem">
            <dt class="c-message__question">Q. 入社を希望される方に向けてメッセージをお願いします</dt>
            <dd class="c-message__answer c-message__answer--fixspacing">　・一生懸命やれば、知恵が出る <br>　・いい加減だと言い訳ばかり <br>　・中途半端だと愚痴が出る <br> 入社を希望される方は、この言葉通りに一生懸命がんばってください。</dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- Modal button -->
    <div class="c-modalbtn">
      <img src="./assets/img/close-modal.svg" alt="close">
      <span>閉じる</span>
    </div>
  </div>
</div>