<section class="c-recruit" id="recruit">
	<div class="l-container--960px">
		<div class="c-title__container">
			<h2 class="c-title c-title--bigger">採用情報</h2>
			<p class="c-desc">
				株式会社エンテックスでは、下記の人材を募集しています。
			</p>
			<p class="c-desc">詳しくは募集要項をご確認ください。</p>
		</div>

		<div class="c-recruit__wrapper">
			<div class="c-recruit__tabheader u-flex">
				<div class="c-recruit__tab c-recruit__tab--bgblue is-active">
					<p>新卒採用</p>
				</div>
				<div class="c-recruit__tab c-recruit__tab--bgblack">
					<p>中途採用</p>
				</div>
			</div>

			<div class="c-recruit__tabcontent c-recruit__tabcontent--blue is-show">
				<table class="c-recruit__tableblue">
					<tbody>
						<tr class="c-recruit__tablehead">
							<th class="c-recruit__tableheading">職種</th>
							<td class="c-recruit__tabletext">
								外構工事・土木工事（未経験者）
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">仕事内容</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								外構工事、土木工事、各種工事 <br />
								各種解体業 <br />
								新築販売(設計・施工・販売)、リフォーム事業、宅地建物取引業
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">雇用形態</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								正社員
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">応募資格</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								土木、建設、建築を学んだ方、未経験者も可 <br />
								普通自動車免許取得者
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">給与</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								外構工事・土木工事（未経験者）194,000円～282,000円
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">昇給賞与</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								昇給年に１回 <br />
								賞与年に2回（夏、冬）
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">諸手当</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								皆勤手当：5,000円 <br />
								固定休日手当：5日分（賃金単価による） <br />
								資格手当: 内容により上限20,000円 <br />
								残業手当あり
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">福利厚生</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								社会保険完備（健康保険、厚生年金保険、労災保険、雇用保険）
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">勤務地</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								〒662-0928 兵庫県西宮市石在町17-41
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">勤務時間</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								8:00 ～ 17:00　変形(１年単位)
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">休日休暇</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								日・祝　会社カレンダーによる　夏季・年末年始
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">採用担当</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								遠藤
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">
								応募者向け <br />
								メッセージ
							</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								阪神間でNo.1を誇る外構･エクステリア業者です。お客様に喜ばれる仕事を
								理念に掲げ、即戦力となる社員育成を行っております。幅広い仕事をこなす
								事が出来、年に一度上司によるキャリアアップ等に関する面談、資格取得支
								援もありスキルアップのチャンスがあります。
							</td>
						</tr>
					</tbody>
				</table>

				<div class="c-recruit__tableaction">
					<a href="#" class="c-recruit__tablebtn">
						<img
							class="c-recruit__tablebtnicon"
							src="./assets/img/assignment.svg"
							alt="action icon"
						/>
						<span>高校生の方はこちら</span>
					</a>
					<a href="#" class="c-recruit__tablebtn">
						<img src="./assets/img/assignment.svg" alt="action icon" />
						<span>高校生以外の方はこちら</span>
					</a>
				</div>
			</div>

			<div class="c-recruit__tabcontent c-recruit__tabcontent--black">
				<table class="c-recruit__tableblue">
					<tbody>
						<tr class="c-recruit__tablehead c-recruit__tablehead--black">
							<th class="c-recruit__tableheading">職種</th>
							<td class="c-recruit__tabletext">外構工事・土木工事</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">仕事内容</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								外構工事、土木工事、各種工事 <br />
								各種解体業 <br />
								新築販売(設計・施工・販売)、リフォーム事業、宅地建物取引業
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">雇用形態</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								正社員
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">応募資格</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								土木、建設、建築を学んだ方　経験者、未経験者も可 <br />
								普通自動車免許取得者
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">給与</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								現場監督、施工管理業務　350,000円　～500,000円 <br />
								外構工事・土木工事（経験者）238,000円～460,400円 <br />
								外構工事・土木工事（未経験者）194,000円～282,000円 <br />
								昇給賞与：昇給年に１回
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">昇給賞与</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								昇給年に１回 <br />
								賞与年に2回（夏、冬）
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">諸手当</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								皆勤手当：5,000円 <br />
								固定休日手当：5日分（賃金単価による） <br />
								資格手当: 内容により上限20,000円 <br />
								残業手当あり
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">福利厚生</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								社会保険完備（健康保険、厚生年金保険、労災保険、雇用保険）
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">勤務地</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								〒662-0928 兵庫県西宮市石在町17-41
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">勤務時間</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								8:00 ～ 17:00　変形(１年単位)
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">休日休暇</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								日・祝　会社カレンダーによる　夏季・年末年始
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">採用担当</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								遠藤
							</td>
						</tr>
						<tr class="c-recruit__tablebody">
							<th class="c-recruit__tableheading">
								応募者向け <br />
								メッセージ
							</th>
							<td class="c-recruit__tabletext c-recruit__tabletext--fixspace">
								阪神間でNo.1を誇る外構･エクステリア業者です。お客様に喜ばれる仕事を理 <br> 念に掲げ、即戦力となる社員育成を行っております。幅広い仕事をこなす事が出来、年に一度上司によるキャリアアップ等に関する面談、資格取得支援もありスキルアップのチャンスがあります。
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
